[Unit]
Description=This service starts specified vpn connection using user space environment variables.

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash -cl "${HOME}/.local/bin/vpn up"
ExecStop=/bin/bash -cl "${HOME}/.local/bin/vpn down"

[Install]
WantedBy=default.target
